button {
    border: none;
    background-color: #06050a;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
}

button:hover{
    background-color: #8e86be;
}

.equals{
    grid-column: 3/5;
    background-color: #ad630f;

}

.equals:hover{
    background-color: #826b29;
}